<h1>Wikinimous</h1>
<ul class ="list"><% @articles.each do |article| %>
  <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
<br>
<br>
<div>
  <%= link_to "Add a new article ðŸ‘", new_article_path %>
</div>

